html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

#grid {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
#grid > div,table {
  /* background-color: #0089ff; */
  color: white;
  font-size: 5vw;
  padding: 9px;
  margin: 9px;
  display: flex;
}

body {
    background-color: #252525;
	text-align: center;
}

  a:link,a:visited {
   color: #e4e4e4;
   /* background-color: white; */
   text-decoration: none;
   target-new: tab;
   margin: auto;
  }
  a:hover {
   color: white;
   /* background-color: Navy; */
   text-decoration: none;
   target-new: tab;
   margin: auto;
  }
